.bounce-icon {
  animation: bounceSmooth 2s ease-in-out 2;
}

.bounce-icon:hover {
  animation: bounceSmooth 2s ease-in-out infinite;
}

@keyframes bounceSmooth {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(12px);
  }
}