@import "tailwindcss";

@theme {
    --breakpoint-*: initial;
    --breakpoint-sm: 480px;
    --breakpoint-md: 720px;
    --breakpoint-lg: 1024px;
    --breakpoint-lim: 900px;
    --breakpoint-xl: 1280px;
    --breakpoint-thicc: 1340px;
    --breakpoint-2xl: 1536px;
}